title: Po Flet Valbona # your site title
author: GitHub User
email: uku.sidorela@gmail.com # email for form submission, you also have to change it in _js/scripts.js
description: > # this means to ignore newlines until "baseurl:"
  Po Flet Valbona është një fushatë informative që paraqet një sërë çështjesh komplekse përreth zhvillimit të HEC-eve në Parkun Kombëtar të Luginës së Valbonës. 
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://github.com/PoFletValbona" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: toka_albania # replace with your_twitter_username or comment to remove link from footer
github_username:  PoFletValbona # replace with your_github_username or comment to remove link from footer
instagram_username: shanlongjj # replace with your_instagram_username or comment to remove link from footer
social:
  name: Your Name
  links:
    - https://twitter.com/BenBalter
    - https://www.facebook.com/ben.balter
    - https://www.linkedin.com/in/BenBalter
    - https://plus.google.com/+BenBalter
    - https://github.com/benbalter
    - https://keybase.io/benbalter

disqus:
  shortname: janczizikow # to enable comments replace with your_disqus_shortname

# Build settings
markdown: kramdown
highlighter: rouge # or pygments or null
theme: jekyll-sleek
exclude:
  - README.md
  - node_modules
  - script
  - package.json
  - package-lock.json
  - Gemfile
  - Gemfile.lock
  - vendor
  - npm-debug.log
  - gulpfile.js
  - sleek.jpg

include: ['_pages']
permalink: /:title/

compress_html:
  clippings: all

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  
  # Google Analytics
google_analytics: UA-118931200-1
